.chipsContainer {
    display:  flex;
    align-items: center;
    gap: .5rem;
}

.project {
    background-color: var(--lilac);
    border-radius: 10px;
    padding: .5rem 1rem;
    transition: transform ease-in 300;
    cursor: pointer;
}

.project:hover {
    transform: scale(1.01);
}

.project h3 {
    margin: 0 0 1rem;
}