:root {
  --dark-colour: #030639;
  --lilac: #daccfd;
  --white: #f5f1ff;
  --light-colour: #bb9ffd;
  --heading: "Space Grotesk", serif;
  --text: "DM Sans", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading);
}

button {
  cursor: pointer;
}
.info {
  color: #585858;
  font-size: 0.8rem;
}
